
/*RESET RULES*/ 

:root {

    --btn-blu-:#0061FF;
    --light-blue: #b4d0e7;
	--light-gray: #f5f5f5;
	--black: #000000;
	--white: #ffffff;

}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
	font-family: 'Open Sans', sans-serif;
}

ol,ul {
    list-style: none;
}

a {
    color: currentColor;
    text-decoration: none;
}

img {
    max-width: 100%;
}

/*Layout Rules*/

.full-container {
    max-width: 100%;
    margin: 0 auto;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.container-small {
    max-width: 900px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap:wrap;
    row-gap: 50px;
}

.row > * {
    padding: 0px 25px;

}

.col-100 {
    width: 100%;
}

.col-33 {
    width: 33.33%;
}

.col-66 {
    width: 66.66%;
}


/*---- HEADER ----*/ 

.main-header {
    font-size: 14px;
}

/*Navbar*/

.navbar {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 18px 14px; 
    background-color: rgb(229, 236, 234);
}

.dropbox-link {
    display: flex;
    gap: 30px;  
    align-items: center;  
}

.btn--sm {
    display: block;
    background-color: var(--btn-blu-);
    color:white;
    line-height: 34px;
    padding: 10px 15px;
}

/*HERO*/

.hero {
    background-color:var(--light-blue);
    padding-top: 80px;
	padding-bottom: 20px;
}

.hero__title {
    font-size: 70px;
    margin-bottom: 50px;
}

.hero__icon {
  font-size: 50px;  
  margin: auto 0;
  
}

.hero__description {
    display:flex;
    flex-direction: column;
    gap: 30px;
    
}

/*Plans*/

.plans .card {
    border: 1px solid;
    padding: 10px;
    min-height: 300px;
}


/*Components*/

.hero__btn {
    display: inline-block;
    background-color: #0061FF;

}

/*Debug Rules*/ 

.debug .container , 
.debug.container-small 
{
    border: 1px solid violet;
    padding: 20px;
}


.debug .row {
    border: 2px solid red;
    padding: 20px;
}

.debug .row > * {
    border: 2px solid blue;
    padding: 20px;
}